//color
$color-01: green;
$color-02: grey;
$color-03: brown;
$color-04: yellow;
$color-05: rgb(52, 52, 112);
$color-06: rgb(241, 96, 0);
$color-07: rgb(100, 0, 167);




//size
$size-01: 70px;
$size-02: 150px;
$size-03: 350px;
$size-04: 90px;

